.about {
  padding-top: 275px;
  // padding-top: 95px;
  padding-bottom: 120px;

  &__title {
    margin-bottom: 30px;
  }

  &__description {
    margin: 0;

    span {
      color: $color-pink;
    }
  }
}
