.feedback {
  padding: 110px 0 190px;
  background-color: $color-dark_blue;
  background-image: url("../images/services-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;

  &__title {
    padding-left: 10px;
    margin-bottom: 80px;
    border-left: 6px solid $color-pink;
  }

  &__description {
    margin: 0;
    margin-bottom: 140px;
  }
}
