a,
button {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
  &:focus-visible {
    outline: 1px solid red;
  }
}

button {
  &:focus-visible {
    outline: 5px solid black;
  }
}

// &:hover {
// }
// &:active {
// }
// &:focus {
// }
