.html {
  box-sizing: border-box;
  // height: 100%;
  max-width: 100%;
  min-width: 1366px;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

.body {
  height: 100%;
  // min-height: 100%;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-dark_grey;
  background-color: $color-white;
}

.section {
  position: relative;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.is-hidden {
  display: none !important;
}

.container {
  // max-width: $content-width;
  max-width: $container;
  padding: 0 $container-offset;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  display: block;
}

.title {
  margin: 0;
  font-family: "RobotoSlab", sans-serif;
  font-size: 60px;
  line-height: 80px;
  font-weight: 700;
}

.scroll-point {
  position: absolute;
  top: -170px;
}
