// Base
$font-family: "Roboto", sans-serif;
$content-width: 1444px;
$container-offset: 50px;
$container: $content-width + $container-offset * 2;
$font-size: 40px;
$line-height: 50px;

// Colors
$color-white: #ffffff;
$color-white_text: #efeff1;
$color-black: #000000;
$color-dark_blue: #2f2b46;
$color-dark_grey: #333333;
$color-pink: #ff0bab;
$color-grey: #828282;
