<footer class="footer">
  <div class="footer__container container">
    <a class="footer__link" href="#" aria-label="Ссылка на главную страницу Bytes & Rights">
      <!-- <svg class="logo" width="300" height="110">
        <use xlink:href="images/sprite.svg#LogoBR"></use>
      </svg> -->
      <img class="logo" src="images/logo.webp" width="298" height="108" alt="Логотип Bytes and Rights">
    </a>
    <div class="footer__contacts">
      <!-- <a href="tel:+79533689900">+7 953 368-99-00</a>
      <a href="tel:+381643582651">+381 64 3582651</a>
      <a href="mailto:bytesandrights@gmail.com">bytesandrights@gmail.com</a> -->
      <a href="http://bytes-and-rights.pro/">bytes-and-rights.pro</a>
    </div>
  </div>
</footer>
