<footer class="footer">
  <div class="footer__container container">
    <a class="footer__link" href="./index.html" aria-label="Ссылка на главную страницу Bytes & Rights">
      <img class="logo" src="images/logo.webp" width="298" height="108" alt="Логотип Bytes and Rights." />
    </a>
    <div class="footer__contacts">
      <a href="tel:+7 953 368-99-00" aria-label="Ссылка на контактный номер телефона">+7 953 368-99-00</a>
      <a href="mailto:bytesandrights@gmail.com" aria-label="Ссылка на почтовый ящик">bytesandrights@gmail.com</a>
    </div>
  </div>
</footer>
