<footer class="footer">
  <div class="footer__container container">
    <a class="footer__link" href="#" aria-label="Ссылка на главную страницу Bytes & Rights">
      <svg class="footer__logo" width="280" height="100">
        <use xlink:href="images/sprite.svg#LOGO"></use>
      </svg>
    </a>
    <div class="footer__contacts">
      <a href="tel:+78122128506">+7 (812) 212-85-06</a>
      <a href="mailto:hello@gmail.com">hello@gmail.com</a>
    </div>
    <div class="footer__socials">
      <a href="https://facebook.com/" target="_blank" aria-label="Ссылка на нашу страницу в Фейсбуке">
        <svg class="" width="31" height="66">
          <use xlink:href="images/sprite.svg#FB"></use>
        </svg>
      </a>
      <a href="https://twitter.com/" target="_blank" aria-label="Ссылка на нашу страницу в Твиттере">
        <svg class="" width="66" height="53">
          <use xlink:href="images/sprite.svg#twitter"></use>
        </svg>
      </a>
      <a href="https://vk.com" target="_blank" aria-label="Ссылка на нашу страницу в Контакте">
        <svg class="" width="92" height="50">
          <use xlink:href="images/sprite.svg#VK"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
