<header class="header">
  <div class="header__container container">
    <a class="header__link" href="./" aria-label="Ссылка на главную страницу Bytes & Rights">
      <img class="logo" src="images/logo.webp" width="298" height="108" alt="Логотип Bytes and Rights." />
    </a>
    <nav class="header__nav nav">
      <ul class="nav-list list-reset">
        <li class="nav-item"><a class="nav-link" href="./#services">@1</a></li>
        <li class="nav-item"><a class="nav-link" href="./#webinar">@2</a></li>
        <li class="nav-item"><a class="nav-link" href="./#team">@3</a></li>
        <li class="nav-item"><a class="nav-link" href="./#feedback">@4</a></li>
      </ul>
    </nav>
  </div>
</header>
