<header class="header">
  <div class="header__container container">
    <a class="header__link" href="#" aria-label="Ссылка на главную страницу Bytes & Rights">
      <!-- <svg class="logo" width="300" height="110">
        <use xlink:href="images/sprite.svg#LogoBR"></use>
      </svg> -->
      <img class="logo" src="images/logo.png" alt="Логотип Bytes and Rights">
    </a>
    <nav class="header__nav nav">
      <ul class="nav-list list-reset">
        <li class="nav-item"><a class="nav-link nav-link--active" href="#services">@s</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacts">@c</a></li>
        <li class="nav-item"><a class="nav-link" href="#feedback">@q</a></li>
      </ul>
    </nav>
    <div class="header__languages">
      <a class="@en" id="en" href="#">Eng</a>
      <span>|</span>
      <a class="@rus" href="index.html">RUS</a>
    </div>
  </div>
</header>
