.footer {
  padding: 110px 0 270px;
  background-color: $color-dark_grey;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    margin-right: 10px;
    font-size: 0;
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    a {
      color: $color-white_text;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    font-size: 0;
  }
}
