.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px 0;
  background-color: $color-dark_blue;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &__link {
    margin-right: 10px;
  }

  &__nav {
    width: 70%;
    min-width: 610px;
    margin-right: 10px;
    font-size: 35px;
    line-height: 41px;
    color: $color-white_text;
  }
}
