.modal {
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__window {
    position: relative;
    display: none;
    max-height: calc(100% - 100px);
    max-width: 90%;
    padding: 50px 50px;
    padding-top: 50px;
    background-color: $color-white;
    overflow: auto;

    &--visible {
      display: block;
    }
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;

    &-icon {
      height: 20px;
      width: 20px;
    }
  }

  &__title {
    padding-left: 20px;
    margin: 0;
    margin-bottom: 80px;
    border-left: 6px solid $color-pink;
    font-size: 60px;
    line-height: 75px;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    margin-bottom: 60px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
  }

  &__list {
    margin: 0;
    margin-bottom: 40px;
  }

  &__btn {
    display: block;
    max-width: max-content;
    padding: 30px 60px;
    margin: 0 auto;
    border-radius: 4px;
    color: $color-white_text;
    background-color: $color-pink;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  }
}

.send-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  padding: 200px;
  border-radius: 50px;
  text-align: center;
  font-size: 60px;
  line-height: 90px;
  font-weight: 600;
  color: $color-white_text;
  background-color: $color-pink;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: opacity 2s ease-in-out, visibility 2s ease-in-out;

  &--visible {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}
